html,body{


	margin:0px;
	height: 100%;
	background:url("clr1.jpg"); 
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
	transition: .3s;
}


#container{

min-height: 100%;
padding-bottom: 30px;

}



#content{
 overflow: auto;
 padding-bottom: 40px;
padding-bottom: 40px;

}
#content:hover{
	transition: .3s;
}

.h{
 
	font-family: 'Montserrat', sans-serif;


      background-color: black;
		color: white;
		padding-left:20px;
		transition: .2s;
		padding-top:20px;
       box-shadow: 0px 2px 5px #424949 ;
       padding-bottom: 20px;
}

.h:hover{     
        opacity: .1px;
       box-shadow: 0px 4px 10px black;

	    color:#DCDCDC;                 
	    transition: .2s;    
	    font-weight: bold;

	}

.msg{
    
    text-align: center;

	font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  margin-left: 5%;
  margin-top: 5%;
	position: relative;
	top:relative;
}


.d{box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
   margin-top: 5%;
   margin-left: 33%;
      transition: .2s;
      padding-bottom: 15vw;
      padding-top: 15vw;
width: 33%;
height: 50%;
border-radius: 5px;
box-shadow: 0px 4px 30px black;
text-align: center;

   color: white;
    background-color: black;

}
.u{overflow: auto;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
   margin-top: 2%;
   margin-left: 33%;
padding-top: 15vw;
padding-bottom: 15vw;

      transition: .2s;
      text-align: center;
width: 33%;
height: 50%;
border-radius: 5px;
box-shadow: 0px 4px 30px black;


   color: white;
    background-color: black;


}






